*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Work Sans' !important;
}

ul{
  list-style-type: none;
}

.container{
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
}
.main{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 2rem;
  padding: 40px 0;
}
.btn{
  padding: 10px 30px;
  text-decoration: none;
  margin-top:20px ;
  display: block;
  color: #4b4b4b;
  background-color: bisque;
}